# Base ------------------------------------------------------------------------
# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH
export SHELL="{{ nvim_shell }}"
export GIT_SSH="{{ git_ssh }}"

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d {{ bash_plugins }} ]; then
	for rc in {{ bash_plugins }}/*; do
		if [ -f "$rc" ]; then
			. "$rc"
		fi
	done
fi

unset rc
#------------------------------------------------------------------------------

# Nix Path --------------------------------------------------------------------
export PATH="$PATH:{{ nix_bin }}"
#------------------------------------------------------------------------------

# Plugins ---------------------------------------------------------------------
source {{ bash_fzf_tab }}/bash/fzf-bash-completion.sh
bind -x '"\t": fzf_bash_completion'
export PATH="$PATH:{{ bash_git_fuzzy }}/bin"
#------------------------------------------------------------------------------

# Sources ---------------------------------------------------------------------
{{ extra_bashrc_file or "# No Extra Bashrc Installed" }}
#------------------------------------------------------------------------------
