// Zellij Session Layout: {{ yazelix_session_name }}
swap_tiled_layout name="sidebar_open" {
    {{ yazelix_swap_sidebar_open | indent(4) }}
}

swap_tiled_layout name="sidebar_closed" {
    {{ yazelix_swap_sidebar_closed | indent(4) }}
}
