###############################################################################
# BEGIN: Default Options
{{ zsh_default_options }}
# END: Default Options
###############################################################################

###############################################################################
# BEGIN: Environment
{{ zsh_default_env }}
{{ zsh_extra_env }}
# END: Environment
###############################################################################

###############################################################################
# BEGIN: Plugins
{{ zsh_default_plugins }}
# END: Plugins
###############################################################################

###############################################################################
# BEGIN: FZF
{{ zsh_fzf_setup }}
# END: FZF
###############################################################################

###############################################################################
# BEGIN: Navi
{{ zsh_navi_setup }}
# END: Navi
###############################################################################

###############################################################################
# BEGIN: Neovim
{{ zsh_nvim_setup }}
# END: Neovim
###############################################################################

###############################################################################
# BEGIN: Aliases
{{ zsh_default_aliases }}
{{ extra_zsh_aliases }}
# END: Aliases
###############################################################################

###############################################################################
# BEGIN: SSH
{{ zsh_ssh_setup }}
# END: SSH
###############################################################################

###############################################################################
# BEGIN: Screenfetch
#{{ macchina_exe }}
# END: Screenfetch
###############################################################################
