require("telescope").setup({
  defaults = {
    theme = "dropdown",
    mappings = {
      i = {
        ['<C-u>'] = false,
        ['<C-d>'] = false,
      },
    },
  },
  extensions = {
    -- ["ui-select"] = {
    --   require("telescope.themes").get_dropdown {
    --     -- even more opts
    --   }

    --   -- pseudo code / specification for writing custom displays, like the one
    --   -- for "codeactions"
    --   -- specific_opts = {
    --   --   [kind] = {
    --   --     make_indexed = function(items) -> indexed_items, width,
    --   --     make_displayer = function(widths) -> displayer
    --   --     make_display = function(displayer) -> function(e)
    --   --     make_ordinal = function(e) -> string
    --   --   },
    --   --   -- for example to disable the custom builtin "codeactions" display
    --   --      do the following
    --   --   codeactions = false,
    --   -- }
    -- },
    tele_tabby = {
      use_highlighter = true,
    },
  }
})

-- require("telescope").load_extension("ui-select")

-- Enable telescope fzf native
require("telescope").load_extension("fzf")

-- Enable DAP Integration
require("telescope").load_extension("dap")

-- Easypick Config
local easypick = require("easypick")
-- only required for the example to work
local base_branch = "develop"
easypick.setup({
	pickers = {
		-- add your custom pickers here
		-- below you can find some examples of what those can look like

		-- list files inside current folder with default previewer
		{
			-- name for your custom picker, that can be invoked using :Easypick <name> (supports tab completion)
			name = "ls",
			-- the command to execute, output has to be a list of plain text entries
			command = "ls",
			-- specify your custom previwer, or use one of the easypick.previewers
			previewer = easypick.previewers.default()
		},

		-- diff current branch with base_branch and show files that changed with respective diffs in preview 
		{
			name = "changed_files",
			command = "git diff --name-only $(git merge-base HEAD " .. base_branch .. " )",
			previewer = easypick.previewers.branch_diff(base_branch)
		},
		
		-- list files that have conflicts with diffs in preview
		{
			name = "conflicts",
			command = "git diff --name-only --diff-filter=U --relative",
			previewer = easypick.previewers.file_diff()
		},
		{
			name = "justfile_runner",
			command = "{{ nix_bin }}/just --list",
			previewer = easypick.previewers.default()
		},
    {{ telescope_picker_config_file or "-- No Extra Telescope Picker Config" }}
	}
})
