-- Telescope Project
require'telescope'.load_extension('project')
require('telescope').setup({
  extensions = {
    project = {
      base_dirs = {% raw %}{{% endraw %}
        {% raw %}{{% endraw %}'{{ code_checkout_path_github }}', max_depth = 2{% raw %}}{% endraw %},
        {% raw %}{{% endraw %}'{{ dotfiles_user_home }}', max_depth = 2{% raw %}}{% endraw %},
      {% raw %}}{% endraw %}
    },
  },
})

-- Telescope Zoxide
require'telescope'.load_extension('zoxide')

-- Project Config Settings
require('nvim-projectconfig').setup({
  project_dir = "{{ nvim_projects_dir }}/",
  autocmd = true,
  silent = false,
})
