{% if nvim_test_enable %}
require("neotest").setup({
  adapters = {
    require("neotest-plenary"),
  },
  consumers = {
    overseer = require("neotest.consumers.overseer"),
  },
})
{% else %}
-- No Testing Plugins Enabled
{% endif %}
