###############################################################################
# BEGIN: Default Options
{{ tcsh_default_options }}
# END: Default Options
###############################################################################

###############################################################################
# BEGIN: Environment
{{ tcsh_default_env }}
{{ tcsh_extra_env }}
# END: Environment
###############################################################################

###############################################################################
# BEGIN: Plugins
{{ tcsh_default_plugins }}
# END: Plugins
###############################################################################

###############################################################################
# BEGIN: FZF
{{ tcsh_fzf_setup }}
# END: FZF
###############################################################################

###############################################################################
# BEGIN: Yazi
{{ tcsh_yazi_setup }}
# END: Yazi
###############################################################################

###############################################################################
# BEGIN: Navi
{{ tcsh_navi_setup }}
# END: Navi
###############################################################################

###############################################################################
# BEGIN: Aliases
{{ tcsh_default_aliases }}
{{ tcsh_extra_aliases }}
# END: Aliases
###############################################################################

