vim.opt.runtimepath:remove(vim.fn.expand('{{ default_nvim_config_dir }}'))
vim.opt.packpath:remove(vim.fn.expand('{{ default_nvim_share_dir }}/site'))
vim.opt.runtimepath:append(vim.fn.expand('{{ nvim_config_dir }}'))
vim.opt.packpath:append(vim.fn.expand('{{ nvim_config_dir }}'))
vim.opt.packpath:append(vim.fn.expand('{{ nvim_share_dir }}/site'))
require('core')
