-- Telescope Project
require'telescope'.load_extension('project')
require('telescope').setup {
  extensions = {
    project = {
      base_dirs = {% raw %}{{% endraw %}
        {% raw %}{{% endraw %}'{{ code_checkout_path_github }}', max_depth = 2{% raw %}}{% endraw %},
        {% raw %}{{% endraw %}'{{ dotfiles_user_home }}', max_depth = 2{% raw %}}{% endraw %},
      {% raw %}}{% endraw %}
    }
  }
}
vim.api.nvim_set_keymap(
    'n',
    '<leader>p',
    ":lua require'telescope'.extensions.project.project{}<CR>",
    {noremap = true, silent = true}
)

-- Focus.nvim Config
-- require("focus").setup(
--     {
--         excluded_filetypes = {
--             "toggleterm"
--         },
--         excluded_buftypes = {
--             "help"
--         }
--     }
-- )
-- vim.api.nvim_set_keymap('n', '<C-h>', ':FocusSplitLeft<CR>', { silent = true })
-- vim.api.nvim_set_keymap('n', '<C-j>', ':FocusSplitDown<CR>', { silent = true })
-- vim.api.nvim_set_keymap('n', '<C-k>', ':FocusSplitUp<CR>', { silent = true })
-- vim.api.nvim_set_keymap('n', '<C-l>', ':FocusSplitRight<CR>', { silent = true })


-- FZF Config
local actions = require "fzf-lua.actions"
require'fzf-lua'.setup {
  -- provider setup
  files = {
    actions = {
      ["ctrl-x"]      = actions.file_split,
    }
  },
  git = {
    bcommits = {
      actions = {
        ["ctrl-x"]  = actions.git_buf_split,
      },
    },
  },
  grep = {
    actions = {
      ["ctrl-x"]      = actions.file_split,
    }
  },
  buffers = {
    actions = {
      ["ctrl-x"]      = actions.buf_split,
      ["ctrl-d"]      = actions.buf_del,
    }
  },
  blines = {
    actions = {
      ["ctrl-x"]      = actions.buf_split,
    }
  },
}

-- Toggleterm Config
require("toggleterm").setup{
  -- size can be a number or function which is passed the current terminal
--size = 20
  function(term)
    if term.direction == "horizontal" then
      return 15
    elseif term.direction == "vertical" then
      return vim.o.columns * 0.4
    end
  end,
  open_mapping = [[<c-_>]],
  hide_numbers = true, -- hide the number column in toggleterm buffers
  shade_filetypes = {},
  shade_terminals = true,
  shading_factor = '1', -- the degree by which to darken to terminal colour, default: 1 for dark backgrounds, 3 for light
  start_in_insert = true,
  insert_mappings = true, -- whether or not the open mapping applies in insert mode
  persist_size = true,
  direction = 'vertical',
  close_on_exit = true, -- close the terminal window when the process exits
  shell = vim.o.shell, -- change the default shell
  -- This field is only relevant if direction is set to 'float'
--float_opts = {
--  -- The border key is *almost* the same as 'nvim_open_win'
--  -- see :h nvim_open_win for details on borders however
--  -- the 'curved' border is a custom border type
--  -- not natively supported but implemented in this plugin.
--  border = 'single' | 'double' | 'shadow' | 'curved' | ... other options supported by win open
--  width = <value>,
--  height = <value>,
--  winblend = 3,
--  highlights = {
--    border = "Normal",
--    background = "Normal",
--  }
--}
}

function _G.set_terminal_keymaps()
  local opts = {noremap = true}
  vim.api.nvim_buf_set_keymap(0, 't', '<esc>', [[<C-\><C-n>]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', '<C-]>', [[<C-\><C-n>]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', '<C-h>', [[<C-\><C-n><C-W>h]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', '<C-j>', [[<C-\><C-n><C-W>j]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', '<C-k>', [[<C-\><C-n><C-W>k]], opts)
  vim.api.nvim_buf_set_keymap(0, 't', '<C-l>', [[<C-\><C-n><C-W>l]], opts)
end

-- if you only want these mappings for toggle term use term://*toggleterm#* instead
vim.cmd('autocmd! TermOpen term://*toggleterm#* lua set_terminal_keymaps()')

-- Neorg/Treesitter Config
local parser_config = require "nvim-treesitter.parsers".get_parser_configs()
parser_config.norg = {
    install_info = {
        url = "https://github.com/nvim-neorg/tree-sitter-norg",
        files = { "src/parser.c", "src/scanner.cc" },
        branch = "main"
    },
}

require'nvim-treesitter.configs'.setup {
  highlight = {
    enable = true,
    disable = {},
  },
  ensure_installed = {
    "norg"
  },
}

-- Neorg Config
require('neorg').setup {
  -- Tell Neorg what modules to load
  load = {
      ["core.defaults"] = {}, -- Load all the default modules
      ["core.keybinds"] = {
          config = {
              default_keybinds = false,
              neorg_leader = "<Leader>o"
          }
      },
      ["core.norg.concealer"] = {}, -- Allows for use of icons
      ["core.norg.dirman"] = { -- Manage your directories with Neorg
          config = {
              workspaces = {
                  notes_workspace = "{{ code_checkout_path }}/neorg.notes"
              },
              autodetect = true,
              autochdir = true,
          }
      }
  },
}
local neorg_callbacks = require('neorg.callbacks')
neorg_callbacks.on_event("core.keybinds.events.enable_keybinds", function(_, keybinds)
    keybinds.map_event_to_mode("norg", {
        n = { -- Bind keys in normal mode
            -- Keys for managing TODO items and setting their states
            { "gtd", "core.norg.qol.todo_items.todo.task_done" },
            { "gtu", "core.norg.qol.todo_items.todo.task_undone" },
            { "gtp", "core.norg.qol.todo_items.todo.task_pending" },
            { "<C-Space>", "core.norg.qol.todo_items.todo.task_cycle" }
        },
    }, { silent = true, noremap = true })
end)

-- Auto-Session Settings
-- require('auto-session').setup {
--     auto_session_enable_last_session=false,
-- }
-- vim.o.sessionoptions="blank,buffers,curdir,folds,help,options,tabpages,winsize,resize,winpos,terminal"
-- require('session-lens').setup {
--   path_display = {'shorten'}
-- }
-- require("telescope").load_extension("session-lens")

-- Hop Settings
-- require'hop'.setup()
-- vim.api.nvim_set_keymap('n', ',', "<cmd>lua require'hop'.hint_words()<cr>", {noremap = true})

-- DAP Settings
require("dapui").setup()
{{ dap_plugin_settings_file or "-- No DAP Languages Configured" }}

-- Extra Plugin Settings
{{ extra_lua_plugin_settings_file or "-- No Extra Languages Configured" }}
