---
nvim_overseer_tasks: |
  vim.api.nvim_create_user_command("JustOverseer", function(params)
    local task = require("overseer").new_task({
      cmd = { "{{ just_exe }}" },
      args = { "--choose" },
      components = {
        { "on_output_quickfix", open = not params.bang, open_height = 8 },
        "default",
      },
    })
    task:start()
  end, {
    desc = "Run the Justfile as an Overseer task",
    nargs = "*",
    bang = true,
  })
nvim_tasks_default:
  packer: |
    use {
      'stevearc/overseer.nvim',
      config = function() require('overseer').setup() end
    }
  lazy: |
    {
      'stevearc/overseer.nvim',
      dependencies = {
          {'akinsho/toggleterm.nvim'},
      },
    },
  config: |
    require('overseer').setup({
      strategy = "toggleterm",
    })
    {{ nvim_overseer_tasks }}
  keymaps: |
    { '<leader>tj', { n = '<cmd>JustOverseer<CR>', }, description = 'Overseer: Justfile Chooser', },
nvim_tasks:
  lazy: |
    {
      'stevearc/overseer.nvim',
      dependencies = {
          {'akinsho/toggleterm.nvim'},
      },
      config = function()
        require('overseer').setup({
          strategy = "toggleterm",
        })
        {{ nvim_overseer_tasks }}
      end,
    },
  config: ""
  keymaps: |
    { '<leader>tj', { n = '<cmd>JustOverseer<CR>', }, description = 'Overseer: Justfile Chooser', },
