theme = "gruvbox"

[editor]
line-number = "relative"
mouse = false
shell = ["{{ helix_shell }}"]
bufferline = "multiple"
text-width = 120

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
