###############################################################################
# BEGIN: Default Options
{{ bash_default_options }}
# END: Default Options
###############################################################################

###############################################################################
# BEGIN: Environment
{{ bash_default_env }}
{{ bash_extra_env }}
# END: Environment
###############################################################################

###############################################################################
# BEGIN: Plugins
{{ bash_default_plugins }}
# END: Plugins
###############################################################################

###############################################################################
# BEGIN: FZF
{{ bash_fzf_setup }}
# END: FZF
###############################################################################

###############################################################################
# BEGIN: Yazi
{{ bash_yazi_setup }}
# END: Yazi
###############################################################################

###############################################################################
# BEGIN: Navi
{{ bash_navi_setup }}
# END: Navi
###############################################################################

###############################################################################
# BEGIN: SSH
{{ bash_ssh_setup }}
# END: SSH
###############################################################################

###############################################################################
# BEGIN: Aliases
{{ bash_default_aliases }}
{{ bash_extra_aliases }}
# END: Aliases
###############################################################################

