#!/usr/bin/env bash

# git remote add -f tpope-vim-surround https://bitbucket.org/vim-plugins-mirror/vim-surround.git
# git subtree add --prefix .vim/bundle/tpope-vim-surround tpope-vim-surround main --squash
# git fetch tpope-vim-surround main && git subtree pull --prefix .vim/bundle/tpope-vim-surround tpope-vim-surround main --squash
