local helper = {}
local home = vim.env.HOME

function helper.get_config_path()
  return '{{ nvim_config_dir }}'
end

function helper.get_data_path()
  return '{{ nvim_share_dir }}'
end

function helper.get_cache_path()
  return '{{ nvim_cache_dir }}'
end

return helper
