# -------------------------------------------------------------------------------------------------
# Custom Config
{{ nushell_custom_config }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# Aliases
{{ nushell_aliases }}
{{ nushell_extra_aliases }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# FZF Config
{{ nushell_fzf_config }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# Carapace Config
{{ nushell_carapace_config }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# Yazi Config
{{ nushell_yazi_config }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# Starship
{{ nushell_starship_config }}
# -------------------------------------------------------------------------------------------------
