# -------------------------------------------------------------------------------------------------
# Custom Aliases
{{ nushell_aliases }}
# -------------------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------------------
# Starship
{{ nushell_starship_config }}
# -------------------------------------------------------------------------------------------------
