vim.cmd([[ let g:neoformat_enabled_shell = ['shfmt'] ]])
vim.cmd([[ let g:neoformat_enabled_yaml = ['prettier'] ]])
vim.cmd([[ let g:neoformat_enabled_json = ['prettier'] ]])
vim.cmd([[ let g:shfmt_opt="-ci" ]])
{{ neoformat_plugin_settings_file or "\" No Languages Configured for Formatting" }}
