require('neorg').setup {
  -- Tell Neorg what modules to load
  load = {
      ["core.defaults"] = {}, -- Load all the default modules
      ["core.integrations.telescope"] = {},
      ["core.keybinds"] = {
          config = {
              default_keybinds = true,
              neorg_leader = ",",
              hook = function(keybinds)
                keybinds.unmap("norg", "n", "<CR>")
                keybinds.unmap("norg", "n", "<M-CR>")
              end,
          },
      },
      ["core.norg.concealer"] = {}, -- Allows for use of icons
      ["core.norg.dirman"] = { -- Manage your directories with Neorg
          config = {
              workspaces = {
                  notes = "{{ nvim_neorg_dir }}"
              },
              default_workspace = notes,
              autochdir = true, -- Automatically change the directory to the current workspace's root every time
              index = "index.norg", -- The name of the main (root) .norg file
          },
      },
      -- ["core.norg.completion"] = {},
      -- ["core.integrations.nvim-cmp"] = {},
      -- ["core.gtd.base"] = {
      --     config = {
      --         workspace = notes,
      --     }
      -- },
  },
}

-- Glow Settings
vim.g.glow_binary_path = "{{ nix_bin }}"
vim.g.glow_border = "rounded"
vim.g.glow_use_pager = true
