" function! SelectTargetFloat(...)
"     return fzf#run({
"                 \ 'source': cmake4vim#GetAllTargets(),
"                 \ 'options': '+m -n 1 --prompt CMakeTarget\>\ ',
"                 \ 'window': { 'width': 0.9, 'height': 0.6 },
"                 \ 'sink':    function('cmake4vim#SelectTarget')})
" endfunction
" command! -bang -nargs=* FZFCMakeSelectTargetFloat call SelectTargetFloat(<q-args>, <bang>0)
" nnoremap <C-q> :FZFCMakeSelectTargetFloat<cr>

